apiVersion: v1
kind: Namespace
metadata:
  name: yoga-spa
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager